In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./city_temperature.csv',low_memory=False)

In [3]:
df['Date'] = pd.to_datetime(df.loc[:,'Month':'Year'],dayfirst=True,errors='coerce')

In [4]:
df.head()

   Region  Country State     City  Month  Day  Year  AvgTemperature       Date
0  Africa  Algeria   NaN  Algiers      1    1  1995            64.2 1995-01-01
1  Africa  Algeria   NaN  Algiers      1    2  1995            49.4 1995-01-02
2  Africa  Algeria   NaN  Algiers      1    3  1995            48.8 1995-01-03
3  Africa  Algeria   NaN  Algiers      1    4  1995            46.4 1995-01-04
4  Africa  Algeria   NaN  Algiers      1    5  1995            47.9 1995-01-05

#### Remove all the data points that are not within the hottest and coldest temperatures recordered on Earth.

In [6]:
df['AvgTemperature'] == -99.0

0          False
1          False
2          False
3          False
4          False
           ...
2906322    False
2906323    False
2906324    False
2906325    False
2906326    False
Name: AvgTemperature, Length: 2906327, dtype: bool

#### This are the values that are being removed from the original dataset.

In [ ]:
df[x.ne(-99)].Country

In [ ]:
DF = df
DF[rmv_outliers] = np.nan
DF.head()

In [ ]:
for aRegion in DF['Region'].unique():
    print(aRegion, DF[ DF['Region'] == aRegion ].describe()['AvgTemperature'].loc[['count','mean']],'\n',sep='\n')

#### Grab all the counts of each country

In [ ]:
numOfPoints = pd.Series([DF[DF['Country'] == aCountry].describe()['AvgTemperature'].loc['count'] for aCountry in DF['Country'].unique()]
                        ,index=DF['Country'].unique())

In [ ]:
subsetCountries = numOfPoints.nlargest(4)

In [ ]:
countries = list(subsetCountries.index)

In [ ]:
dataset = DF.loc[DF['Country'].isin(countries)]

In [ ]:
dataset.describe()

In [ ]:
from statsmodels.formula.api import ols

In [ ]:
C0 = dataset.loc[dataset['Country'] == 'US']
model = ols('AvgTemperature~1+Month',data=C0).fit(disp=0)

In [ ]:
model.summary()

In [ ]:
model.pvalues